:root {
  --color-primary: #664EFC;
  --color-grey: #4F4F4F;
  --color-bg: #EBCCF5; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif; }
  @media only screen and (max-width: 68.75em) {
      html {
          font-size: 50%;
      }
  }

  @media only screen and (max-width: 55em) {
      html {
          font-size: 45%;
      }
  }

body {
  box-sizing: border-box;
  background: radial-gradient(at top left, #f5dae9 5%, #fce8f3 20%, #fff 40%);
  background-repeat: no-repeat; }

.heading-primary {
  font-size: 6rem;
  line-height: 1; }

.heading-secondary {
  font-size: 4rem;
  line-height: 1; }

.paragraph {
  color: var(--color-grey);
  font-size: 1.5rem; }

.mb-small {
  margin-bottom: 1rem !important; }

.mb-medium {
  margin-bottom: 2rem !important; }

.mb-large {
  margin-bottom: 4rem; }

.mb-huge {
  margin-bottom: 8rem; }

.open {
  display: none !important; }

.hidden {
  display: none !important; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 700; }

.footer__list .bold {
  display: block;
  font-weight: 700;
  color: #000; }

.footer__description .bold {
  display: block;
  font-weight: 700;
  color: #000; }

.features {
  max-width: 80vw;
  margin: 0 auto; }
  @media only screen and (max-width: 81.25em) {
    .features {
      max-width: 100rem; } }
  @media only screen and (max-width: 46.875em) {
    .features {
      max-width: 90rem; } }
  @media only screen and (max-width: 42.5em) {
    .features {
      max-width: 80rem; } }
  @media only screen and (max-width: 37.5em) {
    .features {
      max-width: 60rem; } }
  @media only screen and (max-width: 28.125em) {
    .features {
      max-width: 50rem; } }
  @media only screen and (max-width: 24.375em) {
    .features {
      max-width: 45rem; } }

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .feature {
      flex-direction: column;
      padding-top: 10rem; } }
  .feature__content {
    max-width: 61rem; }
    @media only screen and (max-width: 46.875em) {
      .feature__content {
        max-width: 60rem; } }
  .feature__img {
    max-width: 40rem;
    height: auto; }
    @media only screen and (max-width: 37.5em) {
      .feature__img {
        margin: 5rem 0; } }

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 7rem; }
  @media only screen and (max-width: 81.25em) {
    .footer {
      max-width: 100rem; } }
  @media only screen and (max-width: 46.875em) {
    .footer {
      max-width: 90rem; } }
  @media only screen and (max-width: 42.5em) {
    .footer {
      max-width: 80rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      max-width: 60rem;
      flex-direction: column;
      padding-top: 5rem; } }
  @media only screen and (max-width: 28.125em) {
    .footer {
      max-width: 50rem; } }
  @media only screen and (max-width: 24.375em) {
    .footer {
      max-width: 45rem; } }
  .footer__description {
    max-width: 30rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__description {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 28.125em) {
      .footer__description {
        max-width: 90%; } }
  .footer__navigation {
    display: flex;
    flex: .6 1 auto;
    justify-content: space-between; }
    @media only screen and (max-width: 28.125em) {
      .footer__navigation {
        flex-wrap: wrap; } }
  .footer__list {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 28.125em) {
      .footer__list {
        flex-basis: 17rem; } }
  .footer__item {
    list-style: none; }
  .footer__link {
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--color-grey);
    margin-bottom: 1rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80vw;
  padding-top: 4rem; }
  @media only screen and (max-width: 81.25em) {
    .header {
      max-width: 100rem; } }
  @media only screen and (max-width: 46.875em) {
    .header {
      flex-direction: column-reverse;
      max-width: 90rem; } }
  @media only screen and (max-width: 42.5em) {
    .header {
      max-width: 80rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      max-width: 60rem; } }
  @media only screen and (max-width: 28.125em) {
    .header {
      max-width: 50rem; } }
  @media only screen and (max-width: 24.375em) {
    .header {
      max-width: 45rem; } }
  .header__content {
    max-width: 100%; }
    @media only screen and (max-width: 46.875em) {
      .header__content {
        margin-top: 5rem;
        margin-right: 29rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        margin-right: 0; } }
  .header__avatars {
    display: block; }
  .header__img {
    max-width: 55rem;
    height: auto; }
    @media only screen and (max-width: 24.375em) {
      .header__img {
        max-width: 40rem; } }

.nav {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem 0; }
  @media only screen and (max-width: 81.25em) {
    .nav {
      max-width: 100rem; } }
  @media only screen and (max-width: 46.875em) {
    .nav {
      max-width: 90rem; } }
  @media only screen and (max-width: 42.5em) {
    .nav {
      max-width: 80rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      max-width: 60rem; } }
  @media only screen and (max-width: 28.125em) {
    .nav {
      max-width: 50rem; } }
  @media only screen and (max-width: 24.375em) {
    .nav {
      max-width: 45rem; } }
  .nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between; }
  .nav__links {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .nav__links {
        display: none; } }
  .nav__item {
    padding-left: 2rem; }
  .nav__link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500; }

.responsive__nav {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .responsive__nav {
      display: block; } }

.logo {
  max-width: 15rem; }

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.5rem 2.4rem;
  border-radius: .5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem; }

.light {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8); }
